<ion-tabs>
  <ion-tab-bar slot="bottom">
   <!-- 按钮 1-->
    <!-- 路由出口展示首页 tab="" -->
   <ion-tab-button tab="index">
     <ion-icon name="home"></ion-icon>
     <ion-label>首页</ion-label>
   </ion-tab-button>
   <!-- 按钮 2 -->
   <!-- 按钮 1-->
   <ion-tab-button tab="product-list">
    <ion-icon name="list"></ion-icon>
    <ion-label>商品</ion-label>
  </ion-tab-button>
  <!-- 按钮 2 -->
   <!-- 按钮 1-->
   <ion-tab-button tab="cart">
    <ion-icon name="cart"></ion-icon>
    <ion-label>购物车</ion-label>
  </ion-tab-button>
  <!-- 按钮 2 -->
   <!-- 按钮 1-->
   <ion-tab-button tab="login">
    <ion-icon name="person"></ion-icon>
    <ion-label>登录</ion-label>
  </ion-tab-button>
  <!-- 按钮 2 -->
  </ion-tab-bar>
</ion-tabs>
